@font-face {
  font-family: MyWebFont;
  src: url('../fonts/chawp.otf');
}


body{
	font-family: "MyWebFont", sans-serif;
	height: 172px;
    font-weight: normal;
    font-size: 2.5em;
    color: #e2e2e2;
    letter-spacing: .1em;
    background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.font-focus{
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}
.font-focus.headline{
    font-size: 1.4em;
    font-style: italic;
    letter-spacing: .2em;
    margin-bottom: .4em;
}

.contact-us-list{
	list-style: none;
	text-decoration: none;
}
.contact-us-list a{
	color: white;
	position: relative;
	float: right;
    margin-right: 2em;
    font-size: large;
}
.contact-us-list a:hover{
	text-decoration: none;
	opacity: 0.5;
	
}
html, body { height: 100%!important; margin: 0px!important; }

.bg-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/background-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
  background-size: contain;
  text-indent: -9999px; 
}

#contact-anchor{
	position: fixed;
    right: 0;
    z-index: 999999;
    top: 1em;
}
.header-logo img{

    position: fixed;
    left: 1em;
    top: 0.3em;
    width: 20%;
    height: 10%;
}
#contactForm button{
  color: black;
}
#contactForm .btn{
  border: 1px solid #000000;
  background-color: darkseagreen;
}
h3.text-muted{
  color: white;
  font-size: large;
}
#success, #error{
  margin: 10px;
}
#success p, #error p{
    font-size: larger;
    background-color: darkslateblue;
    padding: 10px;
  }
  #error p{
    color: #aa0707;
    background-color: #959595!important;
  }

